body {
    margin: 0;
    padding: 0;
    font-family: 'Garamond', serif;
    line-height: 1.6;
    background-color: #effff5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    background-image: url('../images/header-background2.jpg');
    background-size: cover; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: #000000;
    border-width: 100em;
    width: 75%;
    height: 70%;
    padding: 20px;
    background-color: #99aca1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img{
    width: 100px;
    height: 100px;
}

.soon, .text, .t {
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}

a {
    background-color: #d5946c;
    padding: 7px 15px;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}


a:hover {
    background-color: #b45b4a;
}

.signUp {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp input {
    padding: 7px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
}