/* elemnet selector:
All HTML elements of the specified type.*/
body {
    margin: 0;
    padding: 0 15px; 
    font-family: 'Garamond', serif;
    line-height: 1.6;
    background-color: #effff5;
}

/* padding, the space around the content. In the example below, it is the space around the paragraph text.
border, the solid line that is just outside the padding.
margin, the space around the outside of the border. */

/* class selector: 
The element(s) on the page with the specified class. 
Multiple instances of the same class can appear on a page.*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #99aca1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
    background-image: url('../images/header-background2.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img {
    max-height: 100px; 
    height: auto; 
    width: auto; 
    padding: 10px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(96, 61, 52, 0.5);
}

nav a {
    color: #f5f8f3;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c96d55;
}

nav input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
}

main {
    padding: 20px;
    text-align: center;
}

h1,
h2,
h3 {
    text-align: left;
    font-family: 'Garamond', serif;
    color: #222724;
    margin-bottom: 15px;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
}

h2 {
    font-weight: bold;
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
}

/* ID selector:
The element on the page with the specified ID. 
On a given HTML page, each id value should be unique.*/
#images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px;
    border-radius: 10px;
    flex-wrap: wrap;
    background-color: rgba(93, 117, 94, 0.5);
    margin: 0 auto; 
    max-width: fit-content; 
}

.image-wrapper {
    position: relative; 
    display: inline-block; 
    max-width: 200px; 
}

.image-wrapper img {
    display: block; 
    width: 100%; 
    border-radius: 8px; 
    transition: transform 0.3s ease; 
}

.text-overlay {
    position: absolute; 
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #ffffff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 3.8em; 
    text-align: center;
}

#images a {
    text-decoration: none;
    flex: 1 1 calc(25% - 15px);
    max-width: 200px;
}

#images img {
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 200px;
    height: auto;
}

/* pseudo class selector:
The specified element(s), but only when in the specified state.
when the mouse pointer is hovering over the link. */
#images img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    color: #222724;
    width: 100%;
    bottom: 0;
}

footer p {
    color: #222724;
    margin: 5px 0;
}