body {
    margin: 0;
    padding: 0;
    font-family: 'Garamond', serif;
    background-color: #effff5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #99aca1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;
    background-image: url('../images/header-background2.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img {
    padding: 50px;
    max-width: 100%;
    height: auto;
}

header nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(96, 61, 52, 0.5);
}

nav a {
    color: #f5f8f3;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c96d55;
}

nav input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
}

#images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.image-wrapper {
    max-width: 225px;
    max-height: 225px;
    overflow: hidden;
}

.image-wrapper-arrow {
    max-width: 50px;
    max-height: 50px;
    
}

.image-wrapper-arrow img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-wrapper-arrow img:hover {
    transform: scale(1.1);
}

main {
    text-align: left;
}

h1{
    font-size: 1.8em;
    color: #222724;
    margin-bottom: 15px;
}

p {
    font-size: 1.2em;
    color: #222724;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #222724;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1em;
    color: #222724;
    margin: 5px 0;
}
